<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ _layout :: header( ~{::title}, _, _) }">
    <title>Home</title>
</head>
<body>

    <h1><i class="fa-solid fa-house"></i>produis</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nom</th>
                <th scope="col">prix</th>
                <th scope="col">quantite</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-striped" th:each=" prod:${produits}">
                <td th:text="${prod.id}"></td>
                <td th:text="${prod.nom}"></td>
                <td th:text="${prod.prix}"></td>
                <td th:text="${prod.quantite}"></td>
                <td>
                    <a href="#" class="btn btn-primary">Ajouter au panier</a>
                    <a href="#" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>

        </tbody>
</body>
</html>